/* Content editable divs, have a minimum size */
div[contenteditable="true"] {
    min-height: 1em;
    min-width: 1em;
}

textarea {
    width: 100%;
}

label {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #0044ff;
    font-size: larger;
}

.node {
    display: inline-block;
    /* background */
    background-color: #00000023;
    /* padding */
    padding: 5px;
    /* margin */
    margin: 5px;
}

.member {
    /* Display across the width of the screen */
    display: block;
    /* background */
    background-color: #00000023;
}

.parameter_section {
    display: inline-block;
    /* darker background */
    background-color: #00000023;
}
